[MASTER]
# Use multiple processes to speed up Pylint
jobs=0

# Python code to execute, usually for sys.path manipulation
init-hook='import sys; sys.path.append(".")'

[MESSAGES CONTROL]
# Disable specific warnings that are not critical for your project
disable=
    missing-module-docstring,
    too-few-public-methods,
    logging-fstring-interpolation,
    line-too-long

# Enable specific warnings
enable=
    useless-suppression,
    deprecated-pragma,
    use-symbolic-message-instead

[REPORTS]
# Set the output format
output-format=text

# Include a score in the output
score=yes

# Display statistics on evaluated messages
reports=yes

[REFACTORING]
# Maximum number of nested blocks for function / method body
max-nested-blocks=5

[FORMAT]
# Maximum number of characters on a single line
max-line-length=100

# String used as indentation unit
indent-string='    '

[DESIGN]
# Maximum number of arguments for function / method
max-args=7

# Maximum number of locals for function / method body
max-locals=15

# Maximum number of return / yield for function / method body
max-returns=6

# Maximum number of branch for function / method body
max-branches=12

# Maximum number of statements in function / method body
max-statements=50

[SIMILARITIES]
# Minimum lines of duplicate code
min-similarity-lines=4

# Ignore comments when computing similarities
ignore-comments=yes

# Ignore docstrings when computing similarities
ignore-docstrings=yes
